*.aux
*.bbl*
*.bcf*
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.te~
*.vrb

.env
__pycache__
.vscode
.mypy_cache/
.venv/
*.bkp

**/.pbi/cache.abf
**/.pbi/localSettings.json
*.pbix
*.pbit
*.tmp
*~
.platform

vlna
database.db
